    <footer>
        <div class="container">
            <div class="row">
                <div class="text-center footer-width">
                    <a href="#" class="smooth footer-logo" title="">
                        <img src="../assets/images/logo.png">
                    </a>
                    <p>Địa chỉ liên hệ: that the gifts such as logic, decisiveness, and strength are just as feminine as intuition and emotional connection. She values and uses all of her gifts. ”</p>
                    <a href="tel:+84 4 23457689">+84 4 23457689</a>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" class="smooth" title="">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/" class="smooth" title="">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" class="smooth" title="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/?lang=vi" class="smooth" title="">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                    <p>Cocopic 2018 | All rights reserved</p>
                    <p>Một thành viên của Brobrand</p>
                </div>

            </div>
        </div>
    </footer>
    <div class="back-to-top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>