<div class="page-not-found">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-mg-6 col-sm-6 col-xs-12">
				<img src="../assets/images/page404.png" class="img-responsive float-lg-right" alt="">
			</div>
			<div class="col-lg-6 col-mg-6 col-sm-6 col-xs-12 message-box">
				<h1 class="message-title" style="font-weight: 700;">TRANG BẠN TÌM HIỆN KHÔNG KHẢ DỤNG</h1>
				<a href="/" class="smooth go-home-page">
					<i class="fa fa-home"></i>
					VỀ TRANG CHỦ
				</a>
			</div>
		</div>
	</div>
</div>