.contact-us {
  background-color: #eee;
  padding: 4rem 0 1rem 0; }
  .contact-us .contact-maps {
    margin-bottom: 4rem; }
  .contact-us .contact-maps iframe {
    border: 5px solid #fff;
    width: 100%;
    height: 303px; }
  .contact-us .contact-title {
    font-size: 16px;
    color: #444;
    margin-bottom: 2.5rem; 
  font-family: inherit;
    font-weight: 700;
    line-height: 1.1;}
  .contact-us .info-store {
    color: #666;
    margin-bottom: 3rem; }
  .contact-us .info-store .store-desc p {
    margin: 0 0 10px 0;
    line-height: 20px; }
  .contact-us .info-store .store-item {
    padding: 8px 0;
    border-top: 1px dotted #c9c9c9;
    padding-left: 3.5rem;
    position: relative; }
  .contact-us .info-store .store-item p {
    line-height: 24px; }
  .contact-us .info-store .store-item:before {
    font-family: "fontawesome";
    color: #b3b3b3;
    display: inline-block;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: calc(50% - 25.6px / 2); }
  .contact-us .info-store .store-address:before {
    content: "\f041"; }
  .contact-us .info-store .store-email:before {
    content: "\f0e0"; }
  .contact-us .info-store .store-hotline:before {
    content: "\f095"; }
  .contact-us .info-store .store-social {
    padding: 2rem 0 0 0; }
  .contact-us .info-store .store-social ul {
    font-size: 0; }
  .contact-us .info-store .store-social ul li {
    display: inline-block; }
    .contact-us .info-store .store-social ul li:not(:last-child) {
      margin-right: 10px; }
    .contact-us .info-store .store-social ul li a {
      font-size: 14px;
      color: #999;
      background-color: transparent;
      display: inline-block;
      border: 1px solid #999;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      border-radius: 3px; }
    .contact-us .info-store .store-social ul li a:hover {
      background-color: #beae59;
      color: #fff;
      border: 1px solid #beae59; }
  .contact-us .contact-form {
    margin-bottom: 3rem; }
  .contact-us .contact-form .contact-form-submit {
    color: #999; }
  .contact-us .contact-form .contact-form-submit .form-group {
    margin-bottom: 2rem; }
  .contact-us .contact-form .contact-form-submit input, .contact-us .contact-form .contact-form-submit textarea, .contact-us .contact-form .contact-form-submit button {
    border-radius: 0; }
  .contact-us .contact-form .contact-form-submit input:focus, .contact-us .contact-form .contact-form-submit textarea:focus, .contact-us .contact-form .contact-form-submit button:focus {
    box-shadow: unset;
    border-color: #beae59; }
  .contact-us .contact-form .contact-form-submit input {
    height: 37px; }
  .contact-us .contact-form .contact-form-submit textarea {
    height: 12rem;
    resize: none; }
  .contact-us .contact-form .contact-form-submit button[type='submit'] {
    background-color: #beae59;
    color: #fff;
    height: 35px;
    width: 120px;
    border-radius: 3px;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    padding: 0;
    display: inline-block; }
