		<div class="contact-us">
			<div class="container">
				<div class="contact-maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11887.878776550375!2d-87.71055369009298!3d41.85047911455547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2zQ2hpY2FnbywgSWxsaW5vaXMsIEhvYSBL4buz!5e0!3m2!1svi!2s!4v1563611349081!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="row">
					<div class="info-store col-lg-4 col-sm-4">
						<h2 class="contact-title">INFOMATION</h2>
						<div class="store-desc">
							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
						</div>
						<div class="store-address store-item">
							<p>123 Suspendis mattis, Sollicitudin District, Accums Fringilla</p>
						</div>
						<div class="store-email store-item">
							<p>Email : <a href="mailto:support@domainstore.com">support@domainstore.com</a></p>
						</div>
						<div class="store-hotline store-item">
							<p>Hotline : <a href="tel:0123456789">0123456789</a></p>
						</div>
						<div class="store-social store-item">
							<ul>
								<li>
									<a href="#" class="smooth" title="">
										<i class="fa fa-facebook" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="#" class="smooth" title="">
										<i class="fa fa-twitter" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="#" class="smooth" title="">
										<i class="fa fa-google-plus" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="#" class="smooth" title="">
										<i class="fa fa-instagram" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="#" class="smooth" title="">
										<i class="fa fa-trademark" aria-hidden="true"></i>
									</a>
								</li>

							</ul>
						</div>
					</div>
					<div class="contact-form col-lg-8 col-sm-8">
						<h2 class="contact-title">Send your comments</h2>
						<form class="contact-form-submit">
							<div class="row row10">
								<div class="col-lg-6 col10 form-group">
									<input type="text" name="" placeholder="Your Name :" class="form-control">
								</div>
								<div class="col-lg-6 col10 form-group">
									<input type="text" name="" placeholder="Your Email :" class="form-control">
								</div>
								<div class=" col-lg-12 col10 form-group">
									<textarea placeholder="Your Comments :" class="form-control"></textarea>
								</div>
								<div class="col-lg-12 col10">
									<button type="submit" class="form-control">SEND EMAIL</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>