    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12 col-12">
                    <div class="s-content">
                        <div class="alignleft">
                            <p>COCOPIC - Ngôi nhà nghệ thuật của những nhà thiết kế trẻ, đam mê sáng tạo và mong muốn tô vẽ thêm cho cuộc sống những gam màu tươi vui. Với phong cách hiện đại, trẻ trung, tinh tế nhưng gần gũi, mỗi sản phẩm COCOPIC là kết tinh của nhiều giờ sáng tác nghệ thuật nghiêm túc, nhiều giờ chế tác tỷ mẩn và hàng ngàn tâm huyết của đội ngũ để mang đế giải pháp trang trí chuyên nghiệp giúp bạn làm sống động không gian quen, căng tràn sức sống mới. Đến với COCOPIC, bạn không chỉ nhận được những sản phẩm hoàn thiện về mặt thẩm mỹ mà còn chứa những thông điệp ý nghĩa, tích cực, thổi vào tâm hồn những luồng gió tươi mới, để ta thấy thêm động lực sống và làm việc, lạc quan đón nhận và vững vàng vượt qua mọi thách thức.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <img src="../assets/images/about.png" alt="" class="alignright img-responsive">
                </div>
                <div class="col-lg-12 col-sm-12 col-12">
                    <h2 class="title title-before-after about-title"><span>SHOWROOM</span></h2>
                    <div class="s-content text-center">
                        Hiện tại, COCOPIC có hai Showroom tại Hà Nội và Thành phố Hồ Chí Minh. Trong ngành kinh doanh tranh canvas chỉ có duy nhất COCOPIC đầu tư xây dựng hai showroom nhằm mang đến cho khách hàng những trải nghiệm mua sắm tốt nhất.
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-12">
                    <div class="row row0 mar-bot30">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 col0 mrb-25auto-sm">
                            <div class="showroom-box relative">
                                <a href="#" class="smooth c-img hv-light" title="">
                                    <img src="../assets/images/showroom.png" alt>
                                </a>
                                <div class="showroom-info">
                                    <h3 class="fs24">SHOWROOM123</h3>
                                    <p>250 Đường Láng, Đống Đa, Hà Nội.</p>
                                    <a href="tel:1900633919" title="1900633919" class="smooth">1900633919</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 col0 mrb-25auto-sm">
                            <div class="showroom-box relative">
                                <a href="#" class="smooth c-img hv-light" title="">
                                    <img src="../assets/images/showroom.png" alt>
                                </a>
                                <div class="showroom-info">
                                    <h3 class="fs24">SHOWROOM123</h3>
                                    <p>250 Đường Láng, Đống Đa, Hà Nội.</p>
                                    <a href="tel:1900633919" title="1900633919" class="smooth">1900633919</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 col0 mrb-25auto-sm">
                            <div class="showroom-box relative">
                                <a href="#" class="smooth c-img hv-light" title="">
                                    <img src="../assets/images/showroom.png" alt>
                                </a>
                                <div class="showroom-info">
                                    <h3 class="fs24">SHOWROOM123</h3>
                                    <p>250 Đường Láng, Đống Đa, Hà Nội.</p>
                                    <a href="tel:1900633919" title="1900633919" class="smooth">1900633919</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 col0 mrb-25auto-sm">
                            <div class="showroom-box relative">
                                <a href="#" class="smooth c-img hv-light" title="">
                                    <img src="../assets/images/showroom.png" alt>
                                </a>
                                <div class="showroom-info">
                                    <h3 class="fs24">SHOWROOM123</h3>
                                    <p>250 Đường Láng, Đống Đa, Hà Nội.</p>
                                    <a href="tel:1900633919" title="1900633919" class="smooth">1900633919</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12">
                        <h2 class="title title-before-after about-title"><span>LIÊN HỆ</span></h2>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-12 mrb25-auto text-center">
                                <img src="../assets/images/map2.png" alt="">
                                <h4 class="title fs24">VĂN PHÒNG HÀ NỘI</h4>
                                <p>ĐỊA CHỈ</p>
                                <p>97 Ngô Gia Tự, Long Biên, Hà Nội.</p>
                                <p>ĐIỆN THOẠI</p>
                                <p><a href="tel:1900633919" title="1900633919" class="smooth">1900633919</a></p>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mrb25-auto text-center">
                                <img src="../assets/images/map2.png" alt="">
                                <h4 class="title fs24">VĂN PHÒNG HÀ NỘI</h4>
                                <p>ĐỊA CHỈ</p>
                                <p>97 Ngô Gia Tự, Long Biên, Hà Nội.</p>
                                <p>ĐIỆN THOẠI</p>
                                <p><a href="tel:1900633919" title="1900633919" class="smooth">1900633919</a></p>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mrb25-auto text-center">
                                <img src="../assets/images/map2.png" alt="">
                                <h4 class="title fs24">VĂN PHÒNG HÀ NỘI</h4>
                                <p>ĐỊA CHỈ</p>
                                <p>97 Ngô Gia Tự, Long Biên, Hà Nội.</p>
                                <p>ĐIỆN THOẠI</p>
                                <p><a href="tel:1900633919" title="1900633919" class="smooth">1900633919</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>