<br>
<br>
<div class="container">
<form action="" *ngIf="product">
        <div class="form-group">
            <label>Tên sản phẩm</label>
            <input type="text" class="form-control" [(ngModel)]="product.name" name="product-name">
        </div>
        <div class="form-group">
            <label>Tên danh mục sản phẩm</label>
            <input type="text" class="form-control" [(ngModel)]="product.category_name" name="product-category-name">
        </div>
        <div class="form-group">
            <label>Giá cũ sản phẩm</label>
            <input type="text" class="form-control" [(ngModel)]="product.old_price" name="product-old-price">
        </div>
        <div class="form-group">
            <label>Giá mới sản phẩm</label>
            <input type="text" class="form-control" [(ngModel)]="product.new_price" name="product-new-price">
        </div>

        <div class="form-group">
            <label>Mô tả sản phẩm</label>
            <textarea class="form-control" name="product-desc" [(ngModel)]="product.desc">
            </textarea>
        </div>
            
        <button class="btn btn-primary" (click)="save(product)">Save</button>
    </form>
</div>
<app-footer></app-footer>